APP_DEBUG=true

HOST=https://yourwebsite.com
PORT=8080
SERVER_PROCESS_COUNT=1
MAIL_PROCESS_COUNT=1
SERVER_PROCESS_GROUP=''
SERVER_PROCESS_USER=''

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=test
DB_USERNAME=root
DB_PASSWORD=1234

SMTP_HOST=smtp.mailserver
SMTP_PORT=2525
SMTP_USERNAME=smtp_username
SMTP_PASSWORD=smtp_password
DEFAULT_EMAIL=email@default.com

SESSION_DRIVER=redis

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

REDIS_DEFAULT_DB=0
REDIS_USERS_DB=1

JWT_EXPIRE_MINUTES=43200
JWT_SECRET=jwt_secret
